@media screen and (max-width: 600px) {
	.exp__description,.exp__amount,.sum{
		font-size: 14px !important;
	}
}
@media screen and (max-width: 450px) {
	.form__wrap{
		flex-wrap: wrap;
	}
	.form__sum{
		padding-right: 0 !important;
	}
}